<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/styles.css" />
    <link rel="shortcut icon" href="/img/cloud.png" type="image/x-icon">
    <title>{{title}}</title>
  </head>

  <body>
    <div class="main-content">
      <div class="weather__header">
        {{>header}}
        <img src="/img/cloud.png" alt="Cloud Image">
      </div>
      <p>Use this site to get weather!</p>

      <form>
        <input type="text" placeholder="Set location" name="iAddress" id="address" autocomplete="off">
        <button type="submit">Search</button>
      </form>

      <div id="information">
        <p id="message-1"></p>
        <p id="message-2"></p>
      </div>
    </div>
    {{>footer}}

    <script type="module" src="./js/app.js"></script>
  </body>
</html>